@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.submit {
  position: relative;
  width: 100%;
  box-sizing: content-box;
  cursor: pointer;

  @include tablet {
    width: 10.8rem;
  }

  @include desktop {
    width: 9.4rem;
  }

  &__icon {
    position: absolute;
    left: 0.85rem;
    top: 50%;
    transform: translateY(-50%);
    height: 1.35rem;

    @include tablet {
      left: 0.7rem;
      height: 1.2rem;
    }

    @include desktop {
      height: 1.1rem;
    }
  }

  &__button {
    width: 100%;
    min-height: 2.5rem;
    background-color: $pri-blue;
    color: $pri-white;
    border: none;
    border-radius: 0.25rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.92rem;
    padding: 0 2rem;

    @include tablet {
      font-size: 0.82rem;
    }

    @include desktop {
      font-size: 0.8rem;
    }

    &:hover {
      background-color: $sec-darkblue;
    }
  }
}
