@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.submit {
  position: relative;
  width: 100%;
  box-sizing: content-box;

  @include tablet {
    width: 9rem;
  }

  &__icon {
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    height: 1.1rem;
  }

  &__button {
    width: 100%;
    min-height: 2.5rem;
    color: $pri-white;
    background-color: $pri-blue;
    border: none;
    border-radius: 0.25rem;
    text-transform: uppercase;
    padding: 0 2rem;

    &:hover {
      background-color: $sec-darkblue;
      cursor: pointer;
    }
  }
}
