@font-face {
  font-family: "AvenirNextLTPro";
  font-weight: 400;
  src: url("../../assets/font/AvenirNextLTPro-Regular.otf") format("truetype");
}

@font-face {
  font-family: "AvenirNextLTPro";
  font-weight: 600;
  src: url("../../assets/font/AvenirNextLTPro-Demi.otf") format("truetype");
}

@font-face {
  font-family: "AvenirNextLTPro";
  font-weight: 700;
  src: url("../../assets/font/AvenirNextLTPro-Bold.otf") format("truetype");
}
