// Colours
$pri-black: #323232;
$pri-blue: #0095ff;
$pri-silver: #afafaf;
$pri-white: #ffffff;

$sec-darkblack: #000000;
$sec-darkblue: #0065ad;
$sec-mercury: #e1e1e1;
$sec-alabaster: #fafafa;

// Paddings
$mobile-padding: 1.5rem;
$mobile-space-between: 1rem;

$tablet-padding: 2.25rem;
$tablet-space-between: 1.5rem;

$desktop-padding: 6rem;
$desktop-space-between: 1.5rem;
