@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.comment-section {
  > * {
    border-bottom: 0.063rem solid $sec-mercury;

    @include desktop {
      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.comment-form {
  display: flex;
  flex-direction: row;
  padding-bottom: 1.4rem;

  @include tablet {
    padding-bottom: $tablet-space-between;
  }

  @include desktop {
    align-self: center;
    padding-right: $desktop-space-between;
  }

  &__avatar {
    padding-top: 1.4rem;

    @include desktop {
      padding-top: 1.3rem;
      padding-left: 0.6rem;
    }
  }

  &__body {
    width: 100%;
    padding-left: 1.25rem;
    display: flex;
    flex-direction: column;

    @include desktop {
      padding-left: 2.2rem;
    }
  }

  &__title {
    padding-bottom: 0.25rem;
    font-weight: 600;
    color: $pri-silver;
    font-size: 0.92rem;

    @include tablet {
      font-size: 0.81rem;
    }

    @include desktop {
      font-size: 0.76rem;
    }
  }

  &__input {
    display: flex;
    flex-direction: column;

    @include tablet {
      padding-bottom: 0;
      flex-direction: row;
      align-items: center;
    }
  }

  &__textarea {
    background-color: $sec-alabaster;
    font-family: "AvenirNextLTPro";
    font-size: 0.98rem;
    padding: 0.75rem;
    border: 0.063rem solid $sec-mercury;
    border-radius: 0.25rem;
    height: 7.5rem;
    margin-bottom: 1.2rem;
    resize: none;

    @include tablet {
      padding: 1rem;
      width: 80%;
      height: 3rem;
      margin-right: 1.65rem;
      margin-bottom: 0;
    }

    @include desktop {
      width: 74%;
      font-size: 0.87rem;
      height: 2.5rem;
    }

    &:active,
    &:focus {
      border: 0.063rem solid $pri-blue;
      outline: none;
    }
  }

  ::placeholder {
    color: $pri-black;
    font-family: "AvenirNextLTPro";
    font-size: 0.98rem;

    @include desktop {
      font-size: 0.87rem;
    }
  }
}
