@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";
@import "../../styles/partials/fonts";

.header {
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  width: 100%;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem;
    margin-bottom: 1rem;
  }

  @include desktop {
    padding: 0 9rem;
  }

  &__navbar {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: center;

    @include tablet {
      flex-wrap: nowrap;
      margin-top: 0;
    }

    > * {
      margin-top: 1rem;
    }
  }

  &__logo {
    display: flex;
    justify-content: center;
    max-height: 1.563rem;
    align-items: center;
    cursor: pointer;

    @include tablet {
      padding-top: 1rem;
    }

    @include desktop {
      margin-left: -0.9rem;
    }
  }

  &__logo-image {
    height: 1.74rem;

    @include tablet {
      height: 1.5rem;
    }
  }

  &__avatar {
    @include tablet {
      order: 1;
    }
  }

  &__button {
    flex: 1;

    @include tablet {
      padding-right: 1rem;
      width: 11.2rem;
    }
  }

  &__search {
    position: relative;
    width: calc(100% - 3.85rem);
    padding-right: 1rem;
    box-sizing: content-box;

    @include tablet {
      width: 16rem;
      padding-right: $tablet-space-between;
    }

    @include desktop {
      width: 15.4rem;
    }
  }

  &__search-icon {
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
  }

  &__search-input {
    border: 0.063rem solid $sec-mercury;
    background-color: $sec-alabaster;
    border-radius: 0.25rem;
    padding: 0.75rem;
    width: 100%;
    padding-left: 2.5rem;
    height: 3rem;
    color: $pri-black;
    font-family: "AvenirNextLTPro";

    @include tablet {
      padding: 1rem;
      padding-left: 2.25rem;
    }

    @include desktop {
      height: 2.5rem;
    }

    &:active,
    &:focus {
      border: 0.125rem solid $pri-blue;
      outline: none;
    }
  }

  ::placeholder {
    color: $pri-black;
    font-family: "AvenirNextLTPro";
  }
}
