@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";
@import "../../styles/partials/fonts";

.header {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 $tablet-padding;
    margin-bottom: 1rem;
  }

  @include desktop {
    padding: 0 $desktop-padding;
  }

  &__navbar {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: center;

    @include tablet {
      flex-wrap: nowrap;
      margin-top: 0;
    }

    > * {
      margin-top: 1rem;
    }
  }

  &__logo {
    display: flex;
    justify-content: center;
    max-height: 1.563rem;
    align-items: center;
    cursor: pointer;
  }

  &__avatar {
    @include tablet {
      order: 1;
    }
  }

  &__button {
    flex: 1;

    @include tablet {
      padding-right: $tablet-space-between;
    }
  }

  &__search {
    position: relative;
    width: calc(100% - 3.25rem);
    padding-right: 1rem;
    box-sizing: content-box;

    @include tablet {
      width: 15rem;
      padding-right: $tablet-space-between;
    }

    &-icon {
      position: absolute;
      left: 0.75rem;
      top: 0.6rem;
      color: $pri-black;
    }

    &-input {
      border: 1px solid $sec-mercury;
      background-color: $sec-alabaster;
      border-radius: 0.25rem;
      padding: 0.75rem;
      width: 100%;
      padding-left: 2.25rem;
      height: 2.25rem;

      @include tablet {
        padding: 1rem;
        padding-left: 2.25rem;
        height: 2.5rem;
      }

      &:active,
      &:focus {
        border: 1px solid $pri-blue;
        outline: none;
      }
    }
  }
}
