@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.upload {
  border-top: 1px solid $sec-mercury;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem;
  font-size: 13px;
  line-height: 18px;

  @include tablet {
    padding: $tablet-padding $tablet-padding;
    font-size: 14px;
    line-height: 22px;
  }

  @include desktop {
    align-self: center;
    padding-right: $desktop-padding;
    padding-left: $desktop-padding;
    width: 100%;
  }

  &__title {
    display: flex;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    padding-bottom: 1.5rem;

    @include tablet {
      padding-bottom: $tablet-space-between;
      border-bottom: 1px solid $sec-mercury;
      font-size: 33px;
      line-height: 44px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__form-main {
    display: flex;
    flex-direction: column;

    @include tablet {
      border-bottom: 1px solid $sec-mercury;
    }

    @include desktop {
      flex-direction: row;
      width: 100%;
      padding-bottom: $tablet-space-between;
    }
  }

  &__thumbnail {
    @include desktop {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__thumbnail-title {
    margin: 0;
    padding-bottom: 0.25rem;
    font-weight: 600;
    color: $pri-silver;

    @include tablet {
      font-size: 12px;
      line-height: 20px;
    }
  }

  &__thumbnail-image {
    width: 100%;
    border-radius: 4px;
    background-color: $sec-mercury;

    @include tablet {
      width: 50%;
    }

    @include desktop {
      height: 200px;
      width: auto;
    }
  }

  &__input-container {
    display: flex;
    flex-direction: column;

    @include tablet {
      border-bottom: 1px solid $sec-mercury;
    }

    @include desktop {
      padding-left: $tablet-space-between;
      width: 100%;
      border: none;
      justify-content: space-between;
    }
  }

  &__input-title,
  &__input-description {
    background-color: $sec-alabaster;
    padding: 0.75rem;
    border: 1px solid $sec-mercury;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 1rem;
    font-family: "AvenirNextLTPro";

    @include tablet {
      padding: 1.5rem;
      min-height: 2.5rem;
    }

    &:active,
    &:focus {
      border: 1px solid $pri-blue;
      outline: none;
    }

    &--error {
      border: 1px solid red;
    }
  }

  &__input-title {
    height: 2.5rem;

    @include tablet {
      margin-bottom: 1rem;
    }

    @include desktop {
      margin-bottom: 1.5rem;
    }
  }

  &__input-description {
    resize: none;
    height: 100%;
    min-height: 6.25rem;
    @include desktop {
      margin-bottom: 0;
    }
  }

  &__button {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    @include tablet {
      flex-direction: row;
      align-items: baseline;
      justify-content: flex-end;
      width: 100%;
    }
  }

  &__cancel {
    min-height: 2.5rem;
    color: $pri-blue;
    background-color: $pri-white;
    border: none;
    border-radius: 4px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 1rem;
    cursor: pointer;

    @include tablet {
      margin-top: $tablet-space-between;
      margin-right: $tablet-space-between;
    }
  }

  &__error {
    background: pink;
    box-shadow: 0 0 10px grey;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 100%;
  }

  &__success {
    background: lightgreen;
    box-shadow: 0 0 10px green;
    padding: 20px;
    text-align: center;
    width: 100%;
  }
}
