@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.avatar {
  background-color: $sec-mercury;
  width: 2.75rem;
  height: 2.75rem;
  min-width: 2.75rem;
  min-height: 2.75rem;
  border-radius: 50%;
  overflow: hidden;

  @include desktop {
    width: 2.5rem;
    height: 2.5rem;
    min-width: 2.5rem;
    min-height: 2.5rem;
  }

  &__image {
    height: 100%;
    object-fit: cover;
    object-position: left;

    &:not([src]) {
      display: none;
    }
  }
}
