@use "./styles/partials/mixins" as *;
@use "./styles/partials/fonts" as *;
@use "./styles/partials/variables" as *;

*,
*::before,
*::after {
  margin: 0;
  max-width: 100%;
  box-sizing: border-box;
}

.app {
  font-family: "AvenirNextLTPro", sans-serif;
  background-color: $pri-white;
  display: flex;
  flex-direction: column;
}

main {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;

  @include tablet {
    padding: 0 $tablet-padding;
  }

  @include desktop {
    padding: 0 $desktop-padding;
    flex-direction: row;
  }
}
