@use "./styles/partials/mixins" as *;
@use "./styles/partials/fonts" as *;
@use "./styles/partials/variables" as *;

*,
*::before,
*::after {
  margin: 0;
  max-width: 100%;
  box-sizing: border-box;
}

.app {
  font-family: "AvenirNextLTPro", sans-serif;
  background-color: $pri-white;
  display: flex;
  flex-direction: column;

  &__container {
    max-width: 1280px;
    margin: 0 auto;
    padding: auto;
  }
}
