@use "./styles/partials/mixins" as *;
@use "./styles/partials/fonts" as *;
@use "./styles/partials/variables" as *;

*,
*::before,
*::after {
  margin: 0;
  max-width: 100%;
  box-sizing: border-box;
}

.app {
  font-family: "AvenirNextLTPro", sans-serif;
  background-color: $pri-white;
  display: flex;
  flex-direction: column;

  &__main {
    padding: 0 1.1rem;

    @include tablet {
      padding: 0 2.4rem;
    }

    @include desktop {
      padding: 0 $desktop-padding;
      display: flex;
      flex-direction: row;
    }
  }
}
